.ContainerContent {
    flex-wrap: inherit;
    gap: 100px;
    max-width: 1258px;
    width: 100vw;

}

.TheBasicContent{
    list-style-type: none;
    font-weight: bolder;
    height: 35px;
}

.WordsContent{
    font-size: larger;
    list-style-type: none;
    height: 155px;
}

.CostContent{
    list-style-type: none;
    font-weight: bolder;
    height: 28px;
}

.AmountContent{
    list-style-type: none;
    font-weight: bolder;
    height: 41px;
}

.ADDContent{
    list-style-type: none;
    font-weight: bolder;
    background-color: #000000;
    color: #ebece8;
    padding: 20px 358px;
    width: max-content;
}