.searchName{
    width: 240px;
    position: relative;
    right: -325px;
    bottom: -100px
}

.searchDescription{
    width: 240px;
    position: relative;
    right: -325px;
    bottom: -150px
}

.searchStock{
    width: 240px;
    position: relative;
    right: -325px;
    bottom: -200px
}

.searchPrice{
    width: 240px;
    position: relative;
    right: -325px;
    bottom: -250px
}

.input{
    width: 240px;
    position: relative;
    right: -420px;
    bottom: -300px
}