.container {
    background-color: #fbe9e7;
    font-size: larger;
    white-space: nowrap;
    word-spacing: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Words {
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    margin-top: auto;
    padding: 0px;
    width: 500px;
    text-align: end;
    align-items: center;
    justify-content:space-between;
    font-family: serif;
}

.TheStore {

}

.Food {
    color: #4a4b55;
    word-spacing: 10px;
}

.SearchIcons {
    list-style: none;
    display: flex;
    height: 87px;
    margin: auto;
    -webkit-box-align: center;
    margin-top: auto;
    text-align: end;
    align-items: center;
    justify-content:space-between;
}

.Search {
    color: #b5adab;
    background-color: #fef6f4;
}

.Icons {
    margin-left: 35px;
}