.HeaderContainer {
    background-color: #fbe9e7;
}

.Container {
    flex-wrap: inherit;
    background-color: #fbe9e7;
}

.ContentSearch {
    background-color: #fffaf8;
    height: 30px;
    left: 425px;
}

.SearchWords {
    color: #dad3d1;
    margin: 10px;
    overflow-wrap: normal;
    font-size: 15px;
    text-decoration-line: none;
    text-indent: 20px;
    right: 75px;

}

.ContentWords {
    width: 100%;
    height: 100vh;
    color: #dad3d1;
    text-decoration-line:none;

}

.ExplosionOfFlavors {
    border-left-style: ridge
}

.TextContent{
    right: 33%;
    top: 74%;
    list-style-type: none;
}

.Icons2{
    right: -35px;
}

.Words {
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    margin-top: auto;
    padding: 0px;
    width: 500px;
    text-align: end;
    align-items: center;
    justify-content:space-between;
}

.TheStore {

}

.Food {
    color: #4a4b55;
    word-spacing: 10px;
}

.SearchIcons {
    list-style: none;
    display: flex;
    height: 87px;
    margin: auto;
    -webkit-box-align: center;
    margin-top: auto;
    text-align: end;
    align-items: center;
    justify-content:space-between;
}

.Search {
    color: #b5adab;
    background-color: #fef6f4;
}

.Icons {
    margin-left: 35px;
}