.ContainerMenu {
    background-color: #ffffff;
}

.TextMenu {
    display: flex;
    margin: 24px;
    list-style-type: none;
    word-spacing: 2px;
    padding-left: 8px;
    text-align: end;
    align-items: center;
    justify-content: space-between;
    -webkit-box-align: center;
    border-bottom-style: ridge;
    padding-bottom: 20px;
    height: 41px;
    font-family: serif;
}

.WordsMenu {
    border-left-style: ridge;
}

.Icons {
    margin-left: 30px;
}